#container {
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.box {
  border: 1px solid grey;
}
/* .box:hover {
  background-color: black;
} */
.box.active {
  background-color: black;
}

.grid {
  display: grid;

}

.button {
  margin: 10px;
}


